body * {transition: all 0.3s;}

.container {
    max-width: 1280px;
    min-width: 320px;
}

#wrap {
    min-height: 100vh;
}

/* 1행 타이틀===================================================================== */
/* 2행 타겟===================================================================== */
#wrap #target_wrap {background: linear-gradient(180deg,rgba(0, 0, 0, 1) 70%, rgba(255, 247, 230, 1) 100%);}
#wrap #target_wrap .container {margin: 0 auto; padding: 100px 0;}
#wrap #target_wrap .container > * {color: #fff; text-align: center;}
#wrap #target_wrap .container h1{
    margin-bottom: 100px;
    line-height: 160%;
    font-size: 1.875rem;
}
#wrap #target_wrap .container h1 em{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}
#wrap #target_wrap .container > p{line-height: 150%; margin-bottom: 40px; font-size: 1.375rem;}
#wrap #target_wrap .container > p em{color: #FFB200; font-size: 2rem;}
#wrap #target_wrap .container .target_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
}
#wrap #target_wrap .container .target_list div{
    background-color: #fff;
    border-radius: 20px;
    padding: 60px;
}
#wrap #target_wrap .container .target_list div > *{text-align: left;}
#wrap #target_wrap .container .target_list div p:nth-of-type(1){
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
#wrap #target_wrap .container .target_list .target1 p:nth-child(1){
    background: url(../images/row2-1.png) no-repeat center / cover;
}
#wrap #target_wrap .container .target_list .target2 p:nth-child(1){
    background: url(../images/row2-2.png) no-repeat center / cover;
}
#wrap #target_wrap .container .target_list .target3 p:nth-child(1){
    background: url(../images/row2-3.png) no-repeat center / cover;
}
#wrap #target_wrap .container .target_list .target4 p:nth-child(1){
    background: url(../images/row2-4.png) no-repeat center / cover;
}
#wrap #target_wrap .container .target_list div p{color: #666666; font-size: 1.125rem; line-height: 150%;}
#wrap #target_wrap .container .target_list div p:nth-of-type(2){margin-bottom: 15px;}
#wrap #target_wrap .container .target_list div p em{color: #000; font-size: 1.5rem; font-weight: 600;}

/* 3행 혜택===================================================================== */
#wrap #benefit_wrap {background-color: #FFF7E6;}
#wrap #benefit_wrap .container{margin: 0 auto; padding: 100px 0;}
#wrap #benefit_wrap .container * {color: #000;}
#wrap #benefit_wrap .container h1{
    text-align: center;
    margin-bottom: 100px;
    line-height: 160%;
    font-size: 1.875rem;
}
#wrap #benefit_wrap .container h1 em{
    font-size: 2.5rem;
    font-weight: 600;
}
#wrap #benefit_wrap .container > p{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}
#wrap #benefit_wrap .container .benefit_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
#wrap #benefit_wrap .container .benefit_list div{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 60px 50px;
}
#wrap #benefit_wrap .container .benefit_list div p{
    margin: 0 auto;
    text-align: center;
}
#wrap #benefit_wrap .container .benefit_list div p:nth-of-type(1){
    width: 150px;
    height: 150px;
    margin-bottom: 60px;
}
#wrap #benefit_wrap .container .benefit_list div p:nth-of-type(2){
    font-size: 1.125rem;
    margin-bottom: 20px;
    line-height: 150%;
}
#wrap #benefit_wrap .container .benefit_list div p:nth-of-type(3){
    font-size: 1.25rem;
    font-weight: 600;
}
#wrap #benefit_wrap .container .benefit_list .num1{}
#wrap #benefit_wrap .container .benefit_list .num1 p:nth-of-type(1){
    background: url(../images/row3-1.png) no-repeat center / cover;
}
#wrap #benefit_wrap .container .benefit_list .num2{}
#wrap #benefit_wrap .container .benefit_list .num2 p:nth-of-type(1){
    background: url(../images/row3-2.png) no-repeat center / cover;
}
#wrap #benefit_wrap .container .benefit_list .num3{}
#wrap #benefit_wrap .container .benefit_list .num3 p:nth-of-type(1){
    background: url(../images/row3-3.png) no-repeat center / cover;
    background-size: 90%;
}

/* 4행 특징===================================================================== */
#wrap #feature_wrap {
    background: url(../images/row4_background.jpg) no-repeat 0% 0% / cover; 
    position: relative;
    
}
#wrap #feature_wrap::after{
    content: '';
    display: block;
    background: linear-gradient(180deg,rgba(42, 123, 155, 0) 50%, rgba(46, 46, 46, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%; height: 100vh;
}
#wrap #feature_wrap .container {margin: 0 auto; padding: 100px 0;}
#wrap #feature_wrap .container * {color: #000; z-index: 5;}
#wrap #feature_wrap .container > p {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    font-size: 1.875rem;
    padding: 10px 30px;
    width: max-content;
    margin: 0 auto;
}
#wrap #feature_wrap .container h1 {
    margin-top: 15px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 130%;
}
#wrap #feature_wrap .container h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 40px;
}
#wrap #feature_wrap .container h2 > * {
    font-weight: 600;
    line-height: 130%;
}
#wrap #feature_wrap .container h2 em:nth-of-type(1) {
    color: #ED1F40;
}
#wrap #feature_wrap .container h2 em:nth-of-type(2) {
    font-size: 2.25rem;
}
#wrap #feature_wrap .container .feature_list {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 15px;
}
#wrap #feature_wrap .container .feature_list .top {
    display: grid;
    grid-template-areas: 
    'top1 top1 top1'
    'content1 content2 content3'
    ;
}
#wrap #feature_wrap .container .feature_list .bottme {
    display: grid;
    grid-template-areas: 
    'top1 top1 top1'
    'content4 content5 content6'
    ;
}
#wrap #feature_wrap .container .feature_list > div > h3 {
    text-align: center;
    grid-area: top1;

    padding: 15px 0;
    background-color: hsl(350, 85%, 53%,0.3);
    font-size: 1.25rem;
}
#wrap #feature_wrap .container .feature_list .top .group1 {grid-area: content1;}
#wrap #feature_wrap .container .feature_list .top .group2 {grid-area: content2;}
#wrap #feature_wrap .container .feature_list .top .group3 {grid-area: content3;}
#wrap #feature_wrap .container .feature_list .top .group4 {grid-area: content4;}
#wrap #feature_wrap .container .feature_list .top .group5 {grid-area: content5;}
#wrap #feature_wrap .container .feature_list .top .group6 {grid-area: content6;}
#wrap #feature_wrap .container .feature_list > div .group {
    padding: 60px 30px;
    background-color: hsl(0, 0%, 100%,0.5);
    border: 1px solid hsl(350, 85%, 53%,0.3);
}
#wrap #feature_wrap .container .feature_list > div .group h4 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
}
#wrap #feature_wrap .container .feature_list .top .group p {line-height: 150%;}
#wrap #feature_wrap .container .feature_list .bottme .group p {line-height: 150%;}



/* 5행 커리큘럼===================================================================== */ 
#wrap #cury_wrap {background-color: #2E2E2E;}
#wrap #cury_wrap .container {margin: 0 auto; padding: 100px 0;}
#wrap #cury_wrap .container > * {text-align: center;}
#wrap #cury_wrap .container > p {
    color: #FFB200;
    font-size: 1.875rem;
    margin-bottom: 15px;
}
#wrap #cury_wrap .container h1::before {
    content: '';
    display: inline-block;
    background-color: #fff;
    width: calc((100% - (30px + 760px)) / 2);
    height: 2px;
    vertical-align: middle;
    margin-right: 15px;
}
#wrap #cury_wrap .container h1 {
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
    margin: 0 0 80px 0;
}
#wrap #cury_wrap .container h1::after {
    content: '';
    display: inline-block;
    background-color: #fff;
    width: calc((100% - (30px + 760px)) / 2);
    height: 2px;
    vertical-align: middle;
    margin-left: 15px;
}
#wrap #cury_wrap .container .cury_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 80px;
}
#wrap #cury_wrap .container .cury_list > * {text-align: left;}
#wrap #cury_wrap .container .cury_list .cury {
    padding: 50px 100px;
    background-color: #666666;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
#wrap #cury_wrap .container .cury_list .cury .top {display: none;}
#wrap #cury_wrap .container .cury_list .cury .left {
    width: calc(100% - (450px));
}
#wrap #cury_wrap .container .cury_list .cury .left .point {
    background-color: #FFB200;
    width: max-content;
    padding: 10px 20px;
    color: #000;
    margin-bottom: 20px;
}
#wrap #cury_wrap .container .cury_list .cury .left h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 20px;
    line-height: 130%;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #FFB200;
}
#wrap #cury_wrap .container .cury_list .cury .left p {
    color: #D0D0D0;
    line-height: 170%;
}
#wrap #cury_wrap .container .cury_list .cury .right {
    width: 450px; height: 250px;
    background-color: antiquewhite;
}
#wrap #cury_wrap .container .cury_list .cury1 .right {
    background: url(../images/row5-1.png)no-repeat center / cover;
}
#wrap #cury_wrap .container .cury_list .cury2 .right {
    background: url(../images/row5-2.png)no-repeat center / cover;
}
#wrap #cury_wrap .container .cury_list .cury3 .right {
    background: url(../images/row5-3.png)no-repeat center / cover;
}
#wrap #cury_wrap .container .cury_list .cury4 .right {
    background: url(../images/row5-4.png)no-repeat center / cover;
}
#wrap #cury_wrap .container .bottom_video {}
#wrap #cury_wrap .container .bottom_video > * {
    margin: 0 auto;
}
#wrap #cury_wrap .container .bottom_video p {
    width: max-content;
    padding: 10px 20px;
    background-color: #FFB200;
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 30px;
}
#wrap #cury_wrap .container .bottom_video .video_grop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 60px;
}
#wrap #cury_wrap .container .bottom_video .video_grop > div {
    width: 480px; height: 270px;
    overflow: hidden;
}
#wrap #cury_wrap .container .bottom_video .video_grop > div iframe {
    width: 100%;
    display: block;
}

/* 6행 후기===================================================================== */
#wrap #review_wrap {background-color: #FFEB60;}
#wrap #review_wrap .container {margin: 0 auto; padding: 100px 0;}
#wrap #review_wrap .container h1 {
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 80px;
    color: #000;
    line-height: 160%;
}
#wrap #review_wrap .container h1 em {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
}
#wrap #review_wrap .container h1 em em {
    color: #ED1F40;
}
#wrap #review_wrap .container .wrap {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
#wrap #review_wrap .container .wrap .button {}
#wrap #review_wrap .container .wrap .button a {
    display: block;
    background-color: #666666;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#wrap #review_wrap .container .wrap .button a span{}
#wrap #review_wrap .container .wrap .left {}
#wrap #review_wrap .container .wrap .left a{}
#wrap #review_wrap .container .wrap .left a span{
    display: inline-block;
    background: url(../images/review_arrow.png) no-repeat center;
    width: 12px;
    height: 20px;
    padding: 30px 25px;
}
#wrap #review_wrap .container .wrap .review_list{
    display: flex;
    gap: 20px;
}
#wrap #review_wrap .container .wrap .review_list .review{
    padding: 60px;
    background-color: #fff;
    border-radius: 30px;
    width: calc(100% / 2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
#wrap #review_wrap .container .wrap .review_list .review > * {color: #000;}
#wrap #review_wrap .container .wrap .review_list .review .name{
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 500;
}
#wrap #review_wrap .container .wrap .review_list .review .contents{
    line-height: 160%;
}
#wrap #review_wrap .container .wrap .right {}
#wrap #review_wrap .container .wrap .right a{}
#wrap #review_wrap .container .wrap .right a span{
    display: inline-block;
    background: url(../images/review_arrow.png) no-repeat center;
    width: 12px;
    height: 20px;
    padding: 30px 30px;
    transform: rotate(-180deg);
}

/* 7행 질의응답===================================================================== */ 
#wrap #qna_wrap {}
#wrap #qna_wrap .container {
    margin: 0 auto;
    padding: 100px 0;
}
#wrap #qna_wrap .container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
#wrap #qna_wrap .container h1 em{
    color: #FFB200;
}
#wrap #qna_wrap .container .qna_list {
    display: grid;
    gap: 15px;
}
#wrap #qna_wrap .container .qna_list .qna {
    background-color: #F5F5F5;
    padding: 20px 40px;
    border-radius: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#wrap #qna_wrap .container .qna_list .qna span:nth-of-type(1) {
    color: #000000;
}
#wrap #qna_wrap .container .qna_list .qna span:nth-of-type(2) {
    display: inline-block;
    width: 16px;
    height: 8px;
    background: url(../images/faq1.png) no-repeat center / cover;
}
/* 8행 유의사항===================================================================== */
#wrap #warning_wrap {background-color: #F5F5F5;}
#wrap #warning_wrap .container {
    margin: 0 auto;
    padding: 100px 0;
}
#wrap #warning_wrap .container h1 {
    color: #FFB200;
    padding: 20px 20px;
    border-bottom: 1px solid #FFB200;
    font-size: 1.125rem;
}
#wrap #warning_wrap .container .warning_list {}
#wrap #warning_wrap .container .warning_list .warning {
    padding: 20px 20px;
    border-bottom: 1px solid #000;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#wrap #warning_wrap .container .warning_list .warning span {}
#wrap #warning_wrap .container .warning_list .warning span:nth-of-type(1) {
    color: #000;
}
#wrap #warning_wrap .container .warning_list .warning span:nth-of-type(2) {
    display: inline-block;
    width: 16px;
    height: 8px;
    background: url(../images/faq1.png) no-repeat center / cover;
}

/* 9행 풋터===================================================================== */
#wrap #footer_wrap {
    background-color: #333333;
}
#wrap #footer_wrap .container{
    margin: 0 auto;
    display: grid;
    gap: 30px;
    padding: 100px 0;
}
#wrap #footer_wrap .container .row1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-bottom: 1px solid #969696;
    padding: 15px 0;
}
#wrap #footer_wrap .container .row1 .left{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
    width: max-content;
}
#wrap #footer_wrap .container .row1 .left *{
    color: #F5F5F5;
}
#wrap #footer_wrap .container .row1 .left a{
    font-weight: 500;
}
#wrap #footer_wrap .container .row1 .left a em{
    font-weight: 700;
    padding-bottom: 0.5px;
    border-bottom: 1px solid #969696;
}
#wrap #footer_wrap .container .row1 .left a::after{
    content: '';
    display: inline-block;
    margin-left: 15px;
    background-color: #969696;
    width: 1px;
    height: 15px;
}
#wrap #footer_wrap .container .row1 .left a:last-of-type::after{display: none;}

#wrap #footer_wrap .container .row1 .right{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
    width: max-content;
}
#wrap #footer_wrap .container .row1 .right a{}
#wrap #footer_wrap .container .row1 .right a:nth-of-type(1) *,
#wrap #footer_wrap .container .row1 .right a:nth-of-type(2) *{
    color: #F5F5F5;
    font-weight: 700;
}
#wrap #footer_wrap .container .row1 .right a::after{
    content: '';
    display: inline-block;
    margin-left: 15px;
    background-color: #969696;
    width: 1px;
    height: 13px;
}
#wrap #footer_wrap .container .row1 .right a:last-of-type::after{display: none;}
#wrap #footer_wrap .container .row1 .right a:first-of-type::after{display: none;}
#wrap #footer_wrap .container .row1 .right a em{}
#wrap #footer_wrap .container .row1 .right a span{
    background: url(../images/footer_check.png) no-repeat center / cover;
    display: inline-block;
    width: 12px; height: 12px;
    margin-right: 5px;
}

#wrap #footer_wrap .container .row2{
    display: grid;
    gap: 10px;
}
#wrap #footer_wrap .container .row2 p{
    color: #969696;
    font-size: 0.875rem;
}
#wrap #footer_wrap .container .row2 p em{
    color: #F5F5F5;
    font-weight: 700;
    margin-right: 10px;
    font-size: 1rem;
}
#wrap #footer_wrap .container .row2 .btn_pro{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}
#wrap #footer_wrap .container .row2 .btn_pro .button {
    width: 440px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}
#wrap #footer_wrap .container .row2 .btn_pro .button a{
    width: calc(100% / 2);
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    font-weight: 700;
    display: inline-block;
}
#wrap #footer_wrap .container .row2 div .button a:nth-of-type(1) {
    background-color: #F5F5F5;
    color: #000;
}
#wrap #footer_wrap .container .row2 div .button a:nth-of-type(2){
    color: #F5F5F5;
    border: 1px solid #F5F5F5;
}
#wrap #footer_wrap .container .row2 div .button a span{
    display: inline-block;
    background: url(../images/footer_1.png) no-repeat center / cover;
    width: 12px; height: 12px;
    margin-left: 5px;
}
#wrap #footer_wrap .container .row2 div .protect span{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
    font-size: 0.875rem;
    color: #969696;
}
#wrap #footer_wrap .container .row2 div .protect span em{
    display: inline-block;
    background: url(../images/footer_2.png) no-repeat center / cover;
    width: 28px; height: 27px;
}

#wrap #footer_wrap .container .row3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap #footer_wrap .container .row3 .left{
    display: grid;
    gap: 10px;
    width: max-content;
}
#wrap #footer_wrap .container .row3 .left p{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    font-size: 0.875rem;
}
#wrap #footer_wrap .container .row3 .left p span{}
#wrap #footer_wrap .container .row3 .left p span::after{
    content: '';
    display: inline-block;
    margin-left: 15px;
    background-color: #969696;
    width: 1px;
    height: 13px;
}
#wrap #footer_wrap .container .row3 .left p span:last-of-type::after{display: none;}
#wrap #footer_wrap .container .row3 .right{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}
#wrap #footer_wrap .container .row3 .right a{
    display: inline-block;
    width: 24px; height: 24px;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(1){
    background: url(../images/footer_sns_1.png) no-repeat center / cover;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(2){
    background: url(../images/footer_sns_2.png) no-repeat center / cover;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(3){
    background: url(../images/footer_sns_3.png) no-repeat center / cover;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(4){
    background: url(../images/footer_sns_4.png) no-repeat center / cover;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(5){
    background: url(../images/footer_sns_5.png) no-repeat center / cover;
}