body * {transition: all 0.3s;}

.container {
    max-width: 1250px;
    min-width: 320px;
}

#wrap {
    min-height: 100vh;
}

/* 1행 타이틀===================================================================== */
/* 2행 타겟===================================================================== */
/* 3행 혜택===================================================================== */
/* 4행 특징===================================================================== */
/* 5행 커리큘럼===================================================================== */ 
/* 6행 후기===================================================================== */
/* 7행 질의응답===================================================================== */ 
/* 8행 유의사항===================================================================== */
/* 9행 풋터===================================================================== */