/* 40pt = 2.5rem */
body * {transition: all 0.3s;}

.container {
    max-width: 1280px;
    min-width: 320px;
}

#wrap {
    min-height: 100vh;
}

/* 1행 타이틀===================================================================== */
/* 2행 타겟===================================================================== */
/* 3행 혜택===================================================================== */
/* 4행 특징===================================================================== */
/* 5행 커리큘럼===================================================================== */ 
/* 6행 후기===================================================================== */
#wrap #review_wrap {background-color: #FFEB60;}
#wrap #review_wrap .container {margin: 0 auto; padding: 100px 0;}
#wrap #review_wrap .container h1 {
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 80px;
    color: #000;
    line-height: 160%;
}
#wrap #review_wrap .container h1 em {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
}
#wrap #review_wrap .container h1 em em {
    color: #ED1F40;
}
#wrap #review_wrap .container .wrap {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
#wrap #review_wrap .container .wrap .button {}
#wrap #review_wrap .container .wrap .button a {
    display: block;
    background-color: #666666;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#wrap #review_wrap .container .wrap .button a span{}
#wrap #review_wrap .container .wrap .left {}
#wrap #review_wrap .container .wrap .left a{}
#wrap #review_wrap .container .wrap .left a span{
    display: inline-block;
    background: url(../images/review_arrow.png) no-repeat center;
    width: 12px;
    height: 20px;
    padding: 30px 25px;
}
#wrap #review_wrap .container .wrap .review_list{
    display: flex;
    gap: 20px;
}
#wrap #review_wrap .container .wrap .review_list .review{
    padding: 60px;
    background-color: #fff;
    border-radius: 30px;
    width: calc(100% / 2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
#wrap #review_wrap .container .wrap .review_list .review > * {color: #000;}
#wrap #review_wrap .container .wrap .review_list .review .name{
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 500;
}
#wrap #review_wrap .container .wrap .review_list .review .contents{
    line-height: 160%;
}
#wrap #review_wrap .container .wrap .right {}
#wrap #review_wrap .container .wrap .right a{}
#wrap #review_wrap .container .wrap .right a span{
    display: inline-block;
    background: url(../images/review_arrow.png) no-repeat center;
    width: 12px;
    height: 20px;
    padding: 30px 30px;
    transform: rotate(-180deg);
}

/* 7행 질의응답===================================================================== */ 
#wrap #qna_wrap {}
#wrap #qna_wrap .container {
    margin: 0 auto;
    padding: 100px 0;
}
#wrap #qna_wrap .container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
#wrap #qna_wrap .container h1 em{
    color: #FFB200;
}
#wrap #qna_wrap .container .qna_list {
    display: grid;
    gap: 15px;
}
#wrap #qna_wrap .container .qna_list .qna {
    background-color: #F5F5F5;
    padding: 20px 40px;
    border-radius: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#wrap #qna_wrap .container .qna_list .qna span:nth-of-type(1) {
    color: #000000;
}
#wrap #qna_wrap .container .qna_list .qna span:nth-of-type(2) {
    display: inline-block;
    width: 16px;
    height: 8px;
    background: url(../images/faq1.png) no-repeat center / cover;
}
/* 8행 유의사항===================================================================== */
#wrap #warning_wrap {background-color: #F5F5F5;}
#wrap #warning_wrap .container {
    margin: 0 auto;
    padding: 100px 0;
}
#wrap #warning_wrap .container h1 {
    color: #FFB200;
    padding: 20px 20px;
    border-bottom: 1px solid #FFB200;
    font-size: 1.125rem;
}
#wrap #warning_wrap .container .warning_list {}
#wrap #warning_wrap .container .warning_list .warning {
    padding: 20px 20px;
    border-bottom: 1px solid #000;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#wrap #warning_wrap .container .warning_list .warning span {}
#wrap #warning_wrap .container .warning_list .warning span:nth-of-type(1) {
    color: #000;
}
#wrap #warning_wrap .container .warning_list .warning span:nth-of-type(2) {
    display: inline-block;
    width: 16px;
    height: 8px;
    background: url(../images/faq1.png) no-repeat center / cover;
}

/* 9행 풋터===================================================================== */
#wrap #footer_wrap {
    background-color: #333333;
}
#wrap #footer_wrap .container{
    /* width: 1280px; */
    margin: 0 auto;
    display: grid;
    gap: 30px;
    padding: 100px 0;
}
#wrap #footer_wrap .container .row1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-bottom: 1px solid #969696;
    padding: 15px 0;
}
#wrap #footer_wrap .container .row1 .left{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
    width: max-content;
}
#wrap #footer_wrap .container .row1 .left *{
    color: #F5F5F5;
}
#wrap #footer_wrap .container .row1 .left a{
    font-weight: 500;
}
#wrap #footer_wrap .container .row1 .left a em{
    font-weight: 700;
    padding-bottom: 0.5px;
    border-bottom: 1px solid #969696;
}
#wrap #footer_wrap .container .row1 .left a::after{
    content: '';
    display: inline-block;
    margin-left: 15px;
    background-color: #969696;
    width: 1px;
    height: 15px;
}
#wrap #footer_wrap .container .row1 .left a:last-of-type::after{display: none;}

#wrap #footer_wrap .container .row1 .right{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
    width: max-content;
}
#wrap #footer_wrap .container .row1 .right a{}
#wrap #footer_wrap .container .row1 .right a:nth-of-type(1) *,
#wrap #footer_wrap .container .row1 .right a:nth-of-type(2) *{
    color: #F5F5F5;
    font-weight: 700;
}
#wrap #footer_wrap .container .row1 .right a::after{
    content: '';
    display: inline-block;
    margin-left: 15px;
    background-color: #969696;
    width: 1px;
    height: 13px;
}
#wrap #footer_wrap .container .row1 .right a:last-of-type::after{display: none;}
#wrap #footer_wrap .container .row1 .right a:first-of-type::after{display: none;}
#wrap #footer_wrap .container .row1 .right a em{}
#wrap #footer_wrap .container .row1 .right a span{
    background: url(../images/footer_check.png) no-repeat center / cover;
    display: inline-block;
    width: 12px; height: 12px;
    margin-right: 5px;
}

#wrap #footer_wrap .container .row2{
    display: grid;
    gap: 10px;
}
#wrap #footer_wrap .container .row2 p{
    color: #969696;
    font-size: 0.875rem;
}
#wrap #footer_wrap .container .row2 p em{
    color: #F5F5F5;
    font-weight: 700;
    margin-right: 10px;
    font-size: 1rem;
}
#wrap #footer_wrap .container .row2 .btn_pro{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}
#wrap #footer_wrap .container .row2 div .button a{
    width: 215px;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    font-weight: 700;
    display: inline-block;
}
#wrap #footer_wrap .container .row2 div .button a:nth-of-type(1) {
    background-color: #F5F5F5;
    color: #000;
}
#wrap #footer_wrap .container .row2 div .button a:nth-of-type(2){
    color: #F5F5F5;
    border: 1px solid #F5F5F5;
}
#wrap #footer_wrap .container .row2 div .button a span{
    display: inline-block;
    background: url(../images/footer_1.png) no-repeat center / cover;
    width: 12px; height: 12px;
    margin-left: 5px;
}
#wrap #footer_wrap .container .row2 div .protect span{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
    font-size: 0.875rem;
    color: #969696;
}
#wrap #footer_wrap .container .row2 div .protect span em{
    display: inline-block;
    background: url(../images/footer_2.png) no-repeat center / cover;
    width: 28px; height: 27px;
}

#wrap #footer_wrap .container .row3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap #footer_wrap .container .row3 .left{
    display: grid;
    gap: 10px;
    width: max-content;
}
#wrap #footer_wrap .container .row3 .left p{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    font-size: 0.875rem;
}
#wrap #footer_wrap .container .row3 .left p span{}
#wrap #footer_wrap .container .row3 .left p span::after{
    content: '';
    display: inline-block;
    margin-left: 15px;
    background-color: #969696;
    width: 1px;
    height: 13px;
}
#wrap #footer_wrap .container .row3 .left p span:last-of-type::after{display: none;}
#wrap #footer_wrap .container .row3 .right{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}
#wrap #footer_wrap .container .row3 .right a{
    display: inline-block;
    width: 24px; height: 24px;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(1){
    background: url(../images/footer_sns_1.png) no-repeat center / cover;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(2){
    background: url(../images/footer_sns_2.png) no-repeat center / cover;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(3){
    background: url(../images/footer_sns_3.png) no-repeat center / cover;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(4){
    background: url(../images/footer_sns_4.png) no-repeat center / cover;
}
#wrap #footer_wrap .container .row3 .right a:nth-of-type(5){
    background: url(../images/footer_sns_5.png) no-repeat center / cover;
}