/* 1279~850 */
@media screen and (max-width:1279px) {
    /* 6행 후기===================================================================== */
    #wrap #review_wrap .container {padding: 50px 80px;}

    /* 7행 질의응답===================================================================== */ 
    #wrap #qna_wrap .container {padding: 50px 80px;}

    /* 8행 유의사항===================================================================== */
    #wrap #warning_wrap .container {padding: 50px 80px;}

    /* 9행 풋터===================================================================== */
    #wrap #footer_wrap .container {padding: 50px 80px;}
    #wrap #footer_wrap .container .row1 .left{gap: 10px;}
    #wrap #footer_wrap .container .row1 .left * {font-size: 0.875rem;}
    #wrap #footer_wrap .container .row1 .left a::after{height: 13px;}
    #wrap #footer_wrap .container .row1 .right{gap: 10px;}
    #wrap #footer_wrap .container .row1 .right * {font-size: 0.875rem;}
    #wrap #footer_wrap .container .row1 .right a::after{height: 13px;}
    #wrap #footer_wrap .container .row2 .btn_pro .button {width: 426px;}
    #wrap #footer_wrap .container .row2 .btn_pro .button a{
        font-size: 0.875rem;
        align-items: center;
        width: calc(100% / 2);
    }
    #wrap #footer_wrap .container .row3{
        flex-flow: column wrap;
        gap: 20px;
    }
}
/* =========================================================================== */

/* 849~320 */
@media screen and (max-width:849px) {
    /* 6행 후기===================================================================== */
    #wrap #review_wrap .container{padding: 50px 15px;}
    #wrap #review_wrap .container h1 {font-size: 1rem; margin-bottom: 50px;}
    #wrap #review_wrap .container h1 em {font-size: 1.125rem;}
    #wrap #review_wrap .container .wrap .review_list{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #wrap #review_wrap .container .wrap .review_list .review{
        width: calc(100% / 1);
    }
    #wrap #review_wrap .container .wrap .review_list .review:nth-of-type(2){display: none;}
    #wrap #review_wrap .container .wrap .button a {width: 30px; height: 30px;}
    #wrap #review_wrap .container .wrap .left a span{
        background-size: 25%;
        padding: 30px 25px 0px 0;
    }
    #wrap #review_wrap .container .wrap .right a span{
        background-size: 20%;
        padding: 30px 30px 0px 0;
    }
    #wrap #review_wrap .container .wrap .review_list .review .name{font-size: 0.875rem;}
    #wrap #review_wrap .container .wrap .review_list .review .contents{font-size: 0.75rem;}

    /* 7행 질의응답===================================================================== */ 
    #wrap #qna_wrap .container{padding: 50px 15px;}
    #wrap #qna_wrap .container h1 {font-size: 1.125rem;}
    #wrap #qna_wrap .container .qna_list {gap: 10px;}
    #wrap #qna_wrap .container .qna_list .qna {font-size: 0.75rem; padding: 10px 15px;}
    #wrap #qna_wrap .container .qna_list .qna span:nth-of-type(2) {width: 11px; height: 4px;}

    /* 8행 유의사항===================================================================== */
    #wrap #warning_wrap .container{padding: 50px 15px;}
    #wrap #warning_wrap .container h1 {font-size: 0.875rem; padding: 10px 15px;}
    #wrap #warning_wrap .container .warning_list .warning {font-size: 0.75rem; padding: 10px 15px;}
    #wrap #warning_wrap .container .warning_list .warning span:nth-of-type(2) {width: 11px; height: 4px;}

    /* 9행 풋터===================================================================== */
    #wrap #footer_wrap .container{padding: 50px 15px; gap: 20px;}
    #wrap #footer_wrap .container .row1{
        flex-flow: column nowrap;
        gap: 10px;
    }
    #wrap #footer_wrap .container .row1 .left * {font-size: 0.75rem; gap: 10px;}
    #wrap #footer_wrap .container .row1 .left a::after{height: 11px;}
    #wrap #footer_wrap .container .row1 .right * {font-size: 0.75rem;}
    #wrap #footer_wrap .container .row1 .right a span{width: 10px; height: 10px;}
    #wrap #footer_wrap .container .row1 .right a::after{height: 11px;}

    #wrap #footer_wrap .container .row2 {font-size: 0.75rem;}
    #wrap #footer_wrap .container .row2 * {font-size: 0.75rem;}
    #wrap #footer_wrap .container .row2 p {font-size: 0.75rem;}
    #wrap #footer_wrap .container .row2 p em{font-size: 0.75rem;}
    #wrap #footer_wrap .container .row2 .btn_pro{
        flex-flow: column nowrap;
        margin-right: auto;
    }
    #wrap #footer_wrap .container .row2 .btn_pro .button {width: 410px;}
    #wrap #footer_wrap .container .row2 .btn_pro .button a {
        font-size: 0.75rem;
        width: calc(100% / 2);
    }
    #wrap #footer_wrap .container .row2 .btn_pro .button a span{background-position: 0 1px;}
    #wrap #footer_wrap .container .row2 div .protect {margin-right: auto;}
    #wrap #footer_wrap .container .row2 div .protect span{font-size: 0.75rem;}

    #wrap #footer_wrap .container .row3 .left p {display: block;}
    #wrap #footer_wrap .container .row3 .left p * {font-size: 0.75rem; margin-bottom: 10px;}
    #wrap #footer_wrap .container .row3 .left p:last-of-type{margin-bottom: -10px;}
    #wrap #footer_wrap .container .row3 .left p span{
        white-space: normal;
        display: block;
    }
    #wrap #footer_wrap .container .row3 .left p span::after{display: none;}
    #wrap #footer_wrap .container .row3 .right{gap: 10px;}
    #wrap #footer_wrap .container .row3 .right a{width: 20px; height: 20px;}
}